body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cccccc;
  }
  
  .login-box {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  /* Additional styling for the message and token */
  .login-box p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .login-box h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 20px;
  }
  
  .signup-link p {
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  