version: "3.7"

services:
  postgres:
    container_name: postgres
    image: 'postgres:15-alpine3.17'
    ports:
      - "5432:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      - POSTGRES_MULTIPLE_DATABASES=user
      - POSTGRES_USER=microservices
      - POSTGRES_PASSWORD=password
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/
      - ./pg-init-scripts:/docker-entrypoint-initdb.d